[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"


[project]
name = "modular-cli-sdk"
version = "3.1.0"
authors = [
    {name = "EPAM Systems", email = "support@syndicate.team"}
]
license = {file = "LICENSE"}
description = "Core component for CLI tools built atop of Modular Framework"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent"
]
dependencies = [
    "boto3>=1.36.11,<2",
    "botocore>=1.36.11,<2",
    "click>=8.0.0,<9.0.0"
]

[project.urls]
Homepage = "https://github.com/epam/modular-cli-sdk"
Documentation = "https://github.com/epam/modular-cli-sdk/blob/main/README.md"
Changelog = "https://github.com/epam/modular-cli-sdk/blob/main/CHANGELOG.md"

[project.optional-dependencies]
hvac = ["hvac~=2.1.0"]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]
